﻿<h4>Notes</h4>

        <span data-bind="text: author"> </span><br />
        <span data-bind="text: creationDate"> </span><br />
        <span data-bind="text: textBody"> </span><br />

<button data-bind="click: editNote">Add</button>



@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/ideasRepository")
