﻿@{
    ViewBag.Title = "UserNotes";
}

<h2>UserNotes</h2>

<h4>Notes</h4>
<ul>
    <li data-bind="foreach: notes">
        <span data-bind="text: author"> </span><br/>
        <span data-bind="text: creationDate"> </span><br />
        <span data-bind="text: textBody"> </span><br/>
        <a href="http://localhost:53407/ideasrepository/editnote"></a><br />
        <a href="#" data-bind="click: $parent.removeNote">Remove</a><br/><br/>

    </li>
</ul>
<button data-bind="click: addNote">Add</button>



@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/ideasRepository")




